<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sst.school"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".SchoolInformationCenterActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="AboutCollege" >
        </activity>
        <activity android:name="ClassSchedular" >
        </activity>
        <activity android:name="ExamSchedular" >
        </activity>
        <activity android:name="FinderMain" >
        </activity>
        <activity android:name="InfoCenter" >
        </activity>
        <activity android:name="OnlineExam" >
        </activity>
        <activity android:name="StudentList_ClassWise_SectionWise" >
        </activity>
        <activity android:name="TeacherList_SubjectWise" >
        </activity>
        <activity android:name="wifi_Teacher_Attendence" >
        </activity>
         <activity android:name="EnquirySystem" >
        </activity>
    </application>
</manifest>